body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  margin: 0 10px;
  color: #0056b3;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
button {
  background-color: #0056b3;
  color: white;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #004494;
}
