.heading{
color:#fff;
}

.my-info{
color:#fff;
font-size: 20px;
}
.about-me-nich {
color:aliceblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 18px;
width:700px;
height:280px;
margin: 100px auto;
background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
border-radius: 20px;
}

.about-me-siam {
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    width:700px;
    height:180px;
    margin: 100px auto;
    background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
    border-radius: 20px;
    }

.about-me {
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    width:700px;
    height:300px;
    margin: 100px auto;
    background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
    border-radius: 20px;
}
.about-me-aiden {
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    width:700px;
    height:150px;
    margin: 100px auto;
    background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
    border-radius: 20px;
    }

    .about-me-hridita {
        color:aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 18px;
        width:700px;
        height:440px;
        margin: 100px auto;
        background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
        border-radius: 20px;
    }

    .about-me-tahseen {
        color:aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 18px;
        width:700px;
        height:240px;
        margin: 100px auto;
        background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
        border-radius: 20px;
    }

.header{
    background-image: url(header.jpg) ;
    background-size:cover;
    background-position-y: bottom;
    outline: 20px double rgb(74, 144, 224);
}
body{
    
    background-image: url(wallpaper.jpg);
    
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    
}


head{
    background-image: url(header.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
   background-position-x: 0px;
   background-position-y: 0px;
  /*background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
height:100vh; */
 
}
#swinburne-timetable{
    background-color: lightblue;
    margin-left: auto ;
    margin-right:auto;
    text-align: center;
    
    
    }

.pink{
    
    background-color: #F78DA7;
}

.beige{
    background-color: #A16A19;
}

.purple{
    background-color: #C50CB6;
}

.blue{
    background-color: #2D4AF6;
}
#nich-border{border: 20px double rgb(24, 198, 192);

position: absolute;
top: 150px;
right:50px;
}

#Siam-border{border: 20px double rgb(24, 198, 192);
    
    position: absolute;
    top: 970px;
    right:50px;
    
    }

    
    #Aiden-border{border: 20px double rgb(24, 198, 192);
        
        position: absolute;
        top: 1900px;
        right:50px;
        }

        
        #Tahseen-border{border: 20px double rgb(24, 198, 192);
           
            position: absolute;
            top: 2850px;
            right:50px;
            }

            
            #Hridita-border{border: 20px double rgb(24, 198, 192);
                
                position: absolute;
                top: 3910px;
                right: 50px;
                }
                

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
