/* Styles for the navigation bar */
nav {
    background-color: #008080;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
/* Styles for the unordered list (ul) within the navigation bar */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Styles for list items (li) within the navigation bar */
  li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Styles for anchor (a) links within list items */
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Styles for anchor (a) links when hovered over */
  a:hover {
    color: #0056b3;
  }
 