*
{
     margin: 0;
     padding: 0;
     font-family: 'Josefin Sans', sans-serif;
}

h1
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72px; 
}

h2 
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px; 
}

h3
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px; 
}


/*  -------------- home page navigation banner ---------------- */
.headerbanner
{
    width: 100%; 
    height: 100px; 
    background: #f2f2f2; 
}

.logo
{
    width: 100px;
    position: absolute;
    padding-top: 10px; 
    padding-left: 20px; 
}

.headerbanner-btn 
{
    padding-left: 50%; 
    padding-top: 42px; 
}

.headerbanner-btn a
{
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    margin-left: 0px; 
    margin-right: 50px; 
}

.headerbanner-btn a:hover 
{
    text-decoration: underline; 
    color: rgb(0, 4, 255); 
}

/*  -------------- home page navigation banner ---------------- */
.introduction
{
    background-image: url(images/homepage\ bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.introduction-text
{
    padding-left: 50%; 
    padding-top: 180px; 
    text-align: left; 
    color: white; 
}

/* .intoduction-text h1
   { 

    /* overflow: hidden;  /*Ensures the content is not revealed until the animation */
  /*  border-right: .15em solid rgb(0, 8, 255); /* The typwriter cursor */
   /* white-space: nowrap; /* Keeps the content on a single line */
   /* margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   /*  letter-spacing: .15em; /* Adjust as needed */
   /* animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;  

    */

.intro_text_h1{
    font-size: 50px;
	text-shadow: 4px 4px 4px purple;
	overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
	font-variant: normal;
	font-family: 'Poppins', sans-serif;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
	
}


  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.introduction-text p
{
    margin-left: 0px; 
    font-size: 32px;
    padding-bottom: 40px; 
}

.introduction-text a
{
    text-decoration: none; 
    margin: 0px; 
    background-color: blue; 
    color: white; 
    padding: 15px 30px; 
    font-size: 18px; 
}

.introduction-text a:hover 
{
    background-color: black; 
}


/*  -------------- home page about us ---------------- */
.about-us
{
	width: 60%;
    margin: auto; 
    text-align: center;
    padding-top: 50px; 
    font-size: 18px; 
}

.about-us p
{
    padding-top: 10px; 
    padding-bottom: 50px; 
}

.about-us a
{
    text-decoration: none; 
    margin: 0px; 
    background-color: blue; 
    color: white; 
    padding: 15px 30px; 
    font-size: 18px; 
}

.about-us a:hover 
{
    background-color: black; 
}


/*  -------------- information ---------------- */
.info-row
{
	padding-top: 100px; 
	display: flex;
	justify-content: center;
	text-align: center;
}

.info-col
{
	flex-basis: 30%; 
    padding-left: 50px; 
    padding-right: 50px; 
}

.info-col p
{
    padding-top: 10px; 
    font-size: 18px; 
}


/*  -------------- home page gallery ---------------- */
.gallery{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
* {box-sizing: border-box;}

.gallery-col{
	flex-basis: 30%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.gallery-col img{
	width: 100%;
	display: block;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .gallery-col:hover .overlay{
    opacity: 1;

  }

  


/*  -------------- Product page --------------- */
.productimage
{
    display: block; 
    float: left; 
    width: 50%;  
    padding-bottom: 50px; 
}

.mainimage 
{
    padding-left: 50px; 
}

.mainimage img 
{
    width: 75%; 
    height: auto; 
}

.productgallery 
{
    padding: 50px; 
}

.imageslider
{
    float: left; 
    width: 15%; 
    cursor: pointer;
}

.imageslider img 
{
    width: 80%; 
    border: 1px solid blue; 
}

.imageslider img:hover 
{
    border: 2px solid black; 
}

.productinfo
{
    display: block; 
    float: right; 
    width: 50%; 
    padding-top: 50px; 
    padding-bottom: 50px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px; 
}

.productinfo h1
{
    padding-bottom: 20px; 
}

.productinfo h2 
{
    padding-bottom: 30px; 
}

.productinfo h3 
{
    padding-bottom: 10px; 
}

.productinfo p 
{
    padding-bottom: 20px; 
}

.variations 
{
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-weight: bold;
    font-size: 22px; 
}

.systemspecs
{
    display: block; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px; 
    padding-bottom: 50px; 
    padding-left: 50px; 
    padding-right: 50px; 
}

.recommendations
{
    display: block; 
    font-family: 'Josefin Sans', sans-serif;
}

.recommendations h2 
{
    padding-left: 50px; 
}

.producttable
{
    border-collapse: collapse; 
    width: 100%; 
}

.producttable th, td
{
    border: 1px solid black; 
    padding: 10px; 
    width: 50%;
}

table tr:hover 
{
    background-color: #ddd;
}

tr:nth-child(odd)
{
    background-color: #f2f2f2;
}

.systemtitle
{
    font-weight: bold; 
    font-size: 22px; 
    padding-bottom: 10px; 
}

.button 
{
    margin-top: 30px; 
    font-family: 'Josefin Sans', sans-serif;
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 15px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 18px; 
    cursor: pointer; 
}

.button:hover
{
    background-color: black; 
}

.rec-products
{
    display: flex;
	justify-content: center;
}

.rec-column
{  
    flex-basis: 18%;
    padding-bottom: 50px; 
}

.rec-column h3 
{
    padding-top: 10px; 
}

.rec-column p 
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px; 
    padding-top: 10px; 
    padding-bottom: 20px; 
}

.rec-column ol 
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px; 
    margin: 10px; 
}



/*  -------------- Enquire page --------------- */

.enquire div p a
{
	padding-left: 30px;
	padding-right: 30px;
	color: black; 
}

.enquire form
{
	border: 8px solid grey;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px; 
}

.enquire p
{
	padding: 5px;
}

.enquire fieldset
{
	margin-left: 5px;
	margin-right: 5px;
}

.enquire h1
{
    margin-left: 100px;
    margin-right: 100px;
	background-color: white;
	border-top: 8px solid grey;
	border-left: 8px solid grey;
	border-right: 8px solid grey;
	padding: 5px;
	font-size: 30px;
    font-style:italic;
    margin-top: 40px; 
}

/*  -------------- About page --------------- */
.header
{
    background-image: url(stylesheet/header.jpg) ;
    background-size:cover;
    background-position-y: bottom;
    outline: 20px double rgb(74, 144, 224);
}

.heading
{
    color:#fff;
}
    
.my-info
{
    color:#fff;
    font-size: 20px;
}

.about-me-nich 
{
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    width:700px;
    height:280px;
    margin: 100px auto;
    background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
    border-radius: 20px;
    }
    
    .about-me-siam {
        color:aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 18px;
        width:700px;
        height:180px;
        margin: 100px auto;
        background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
        border-radius: 20px;
        }
    
    .about-me {
        color:aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 18px;
        width:700px;
        height:300px;
        margin: 100px auto;
        background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
        border-radius: 20px;
    }
    .about-me-aiden {
        color:aliceblue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 18px;
        width:700px;
        height:150px;
        margin: 100px auto;
        background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
        border-radius: 20px;
        }
    
        .about-me-hridita {
            color:aliceblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: 18px;
            width:700px;
            height:440px;
            margin: 100px auto;
            background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
            border-radius: 20px;
        }
    
        .about-me-tahseen {
            color:aliceblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: 18px;
            width:700px;
            height:240px;
            margin: 100px auto;
            background-image: linear-gradient(rgb(21, 154, 249), aqua, rgb(37, 230, 188));
            border-radius: 20px;
        }
    
    
    body{
        
        background-image: url(wallpaper.jpg);
        
        background-size:cover;
        background-attachment: fixed;
        background-repeat: no-repeat; 
        
    }
    
    
    head{
        background-image: url(header.jpg);
        background-size: 1000px;
        background-repeat: no-repeat;
       background-position-x: 0px;
       background-position-y: 0px;
      /*background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    height:100vh; */
     
    }
    #swinburne-timetable{
        
        margin-left: auto ;
        margin-right:auto;
        text-align: center;
        
        
        }
    
    .pink{
        
        background-color: #F78DA7;
    }
    
    .beige{
        background-color: #A16A19;
    }
    
    .purple{
        background-color: #C50CB6;
    }
    
    .blue{
        background-color: #2D4AF6;
    }
    #nich-border{border: 20px double rgb(24, 198, 192);
    
    position: absolute;
    top: 200px;
    right:50px;
    }
    
    #Siam-border{border: 20px double rgb(24, 198, 192);
        
        position: absolute;
        top: 1250px;
        right:50px;
        
        }
    
        
        #Aiden-border{border: 20px double rgb(24, 198, 192);
            
            position: absolute;
            top: 2400px;
            right:50px;
            }
    
            
            #Tahseen-border{border: 20px double rgb(24, 198, 192);
               
                position: absolute;
                top: 3620px;
                right:50px;
                }
    
                
                #Hridita-border{border: 20px double rgb(24, 198, 192);
                    
                    position: absolute;
                    top: 4920px;
                    right: 50px;
                    }
                    
    
    #sideNav{
        width: 250px;
        height: 100vh;
        position: fixed;
        right: -250px;
        top: 0;
        background: #009688;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        list-style: none;
        margin: 50px 20px;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
    }
    #menuBtn{
        width: 50px;
        height: 50px;
        background: #009688;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }
    #menuBtn img{
        width: 20px;
        margin-top: 15px;
    }
    
/*--- Enhancement page--*/

.enhancements h3{
	text-align: center;
	margin: 20px;
	padding: 10px;
	font-size: 1.5em;
}

.en-ol{
	box-sizing: border-box;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.en-ol li {
	margin: 20px;
	padding: 20px;
}

.en-table{
	border-collapse: collapse;
    border: 1px solid black;
    width:100%;
}
	
.en-table th, td{
  border: 1px solid black;
  text-align: left;
  width: 30px;
  height:30px;
  margin: 10px;
  padding: 10px;
}



	
    

/* footer of the web site */
.footer
{
    background:  #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; 
    color: white; 
}

.footer h3
{
    padding-bottom: 10px;
}

.footer-1
{
    padding-bottom: 50px; 
}

.footer-1 p
{
    padding-top: 10px; 
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.copyright
{
    width: 100%; 
}

.copyright p
{
    font-size: 12px; 
    padding-bottom: 5px; 
}

ul
{
    list-style-type: none;
}

.nich-border img {
    padding-top: 200px;
}