.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  font-family: 'Arial', sans-serif;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a,
.nav-right a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 5px 10px; /* Added padding for a larger clickable area */
  border-radius: 3px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect */
}

.nav-left a:hover,
.nav-right a:hover {
  background-color: #1895dd; /* Background color on hover */
  color: #fff; /* Text color on hover */
}

.nav-left a svg {
  vertical-align: middle;
  margin-right: 8px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right button {
  background-color: #1895dd;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect */
}

.nav-right button:hover {
  background-color: #dd0b0b;
}
